<!-- <ul>
    <li *ngFor="let g of resultado">
        {{ g.title }}
    </li>
</ul> -->

<div class="row">
    <div *ngFor="let g of resultado"
        class="col-md-4 col-sm-6 animate__animated animate__bounce__fadeIn">
        <div class="card">
            <img 
                [src]="g.images.downsized_medium.url" 
                [alt]="g.title"
                class="card-image-top"    
            >
            <div class="card-body">
                <p class="card-text">
                    {{ g.title }}

                </p>
            </div>
        </div>
    </div>
</div>